img{
    width: 150px;
    height: 150px;
}
form{
    margin-top: 20px;
}
h2{
    color: black;
}
#i b{
    margin-top: 80px;
}
#tickMark, #crossMark{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}